* {
    background-color: orange;
}

#name {
    border: 3px solid brown;
    background: white;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
#subtitle {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
#main {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
}
#pics {
    height: 400px;
    width: 400px;
    border: 3px solid brown;
}
#description,
#title {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: bold;
    border: 3px solid brown;
    background: white;
    text-align: center;
    width: 400px;
}

#form {
    /* justify-content: space-evenly; */
    grid-column: 1 / span 2;
    padding: 10px;
}

#slectedImg {
    border: 3px solid brown;
    border: 3px solid brown;
    size: 25px;
}
#selectedTitle,
#selectedDesc {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: bold;
    background: white;
    text-align: center;
    width: 400px;
    float: right;
    border: 3px solid brown;
}
#X {
    size: 50px;
    float: center;
}

#selected {
    border: 3px solid brown;
    position: absolute;
    left: 100px;
    top: 100px;
    /* background-color: #fff; */
}
#more {
    justify-self: center;
}
