* {
    background-color: orange;
}
body {
    /* border: 3px solid brown; */
}
#name {
    border: 3px solid brown;
    background: white;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
#subtitle {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
#main {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
}
#pics {
    height: 400px;
    width: 400px;
    border: 3px solid brown;
}
#description,
#title {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: bold;
    border: 3px solid brown;
    background: white;
    text-align: center;
    width: 400px;
}

#form {
    /* justify-content: space-evenly; */
    grid-column: 1 /span 2;
    padding: 10px;
}
